<h1>Welome to dashboard</h1> 

Hello {{data.name}} your details are as follows
{{data.contact}}
{{data.password}}
<img src="{{data.image.url}}" alt="" height="200px" width="200px">

<button><a href="{% url 'query' %}">Query</a></button>
<button><a href="{% url 'logout' %}">Logout</a></button>
<button type="submit"><a href="{% url 'showqueryy' %}">Showquery</a></button>


<form action="{% url 'search' %}" method="post">
{% csrf_token %}
<input type="search" name="search" value="{{sv}}">
<button type="submit" >Search </button>
</form>

{% if query %}
<form action="{% url 'Querydata' %}" method="post">
{% csrf_token %}
Name: <input type="text" name="name" value="{{data.name}}" readonly><br>
Email: <input type="email" name="email" value="{{data.email}}" readonly><br>
Query: <input type="text" name="query" placeholder="Enter you query" >

<button type="submit" >Submit</button>
</form>
{% endif %}

{% if allqueryy %}
<form action="{% url 'byname' %}">
<input type="search" name="search" placeholder="search by name" ></form>
<form action="{% url 'byemail' %}">
<input type="search" name="search" placeholder="search by email" ></form>
<form action="{% url 'byquery' %}">
<input type="search" name="search" placeholder="search by query" ></form>
<button type="submit">Search</button>
<table>
    <tr>
        <th>S.no</th>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Query</th>
        <th><a href="{% url 'edit' qpk=i.id %}">Edit</a></th>
        <th><a href="{% url 'delete' qpk=i.id %}">Delete</a></th>
    </tr>


    {% for i in allqueryy %}
    <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.query}}</td>
    <td><a href="{% url 'edit' qpk=i.id %}">Edit</a></td>
    <td><a href="{% url 'delete' qpk=i.id %}">Delete</a></td>

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if edit %}
<form action="{% url 'edit' qpk=edit.id %}" method="post">
{% csrf_token %}
Name: <input type="text" name="" value="{{edit.name}}"> <br>
Email: <input type="text" name="email" value="{{edit.email}}"> <br>
Query: <input type="text" name="" value="{{edit.query}}"> <br>
<button type="submit">Update</button>
</form>
{% endif %}
