<h1>Welome to dashboard</h1> 

Hello {{data.name}} your details are as follows
{{data.contact}}
{{data.password}}
<img src="{{data.image.url}}" alt="" height="200px" width="200px">

<button><a href="{% url 'query' %}">Query</a></button>
<button><a href="{% url 'logout' %}">Logout</a></button>
<button><a href="{% url 'showquery' %}">Showquery</a></button>
{% if query %}
<form action="{%url 'Querydata' %}" method="post">
{% csrf_token %}
Name: <input type="text" name="name" value="{{data.name}}" ><br>
Email: <input type="email" name="email" value="{{data.email}}" readonly><br>
Query: <input type="text" name="query" placeholder="Enter you query" >

<button type="submit" >Submit</button>
</form>
{% endif %}

{% if allquery %}
<table>
<tr>
    <th>S.no</th>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Query</th>
    <th><a href="">Edit</a></th>
    <th><a href="">Delete</a></th>
</tr>
</table>
{% for i in allquery %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{i.id}}</td>
<td>{{i.name}}</td>
<td>{{i.email}}</td>
<td>{{i.query}}</td>
<td><a href="">{{i.edit}}</a></td>
<td><a href="">{{i.delete}}</a></td>
</tr>
{% endfor %}


{% endif allquery %}
